body, html {
  margin: 0;
}

.bg-image {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    position: fixed;
}

.navbar {
  background-color:  #000000AA;
  /* Might wanna experiment with this later */
  /* background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%); */
  height: 100px;
  color: white;
}

.site-logo{
position: relative;
width: 3rem;
height: 3rem;
filter: invert(74%) sepia(17%) saturate(760%) hue-rotate(185deg) brightness(280%) contrast(91%);
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  margin-left: 1.1rem;
  color: #9BB2E5;
}